body {
    background-color: #A3D9FF;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

header {
    background-color: #2C2F33;
}

input, select, textarea {
    max-width: 280px;
}

.workspace {
    background-color: #2C2F33;
    color: white;
    justify-content: center;
    text-align: center;
}

.buttonn {
    align-items: center;
    background-color: #0075F2;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    margin-top: 10px;
    min-width: 140px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

    .buttonn:focus {
        color: #171e29;
    }

    .buttonn:hover {
        border-color: #171e29;
        color: #ccc;
        fill: #06f;
    }

    .buttonn:active {
        border-color: #171e29;
        color: #aaa;
        fill: #06f;
    }

@media (min-width: 768px) {
    .buttonn {
        min-width: 170px;
    }
}

input {
    margin-right: auto;
    margin-left: auto;
}

.leftf {
    color: #ADD8E6;
    float: right;
}

.baner_img {
    width: 10vw;
    height: 10vh;
    float: left;
}

.elipsa {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid black;
    margin-left: 1vw;
    margin-top: 2vh;
}

.col-form-label {
    margin-top: 10px;
    font-size: 20px;
}

.welcome_text {
    font-size: 48px;
}

.material-symbols-outlined {
    float: left;
}



.register_registerform, .login_loginform {
    background-color: #23272A;
    width: 30vw;
    margin-top: 5vh;
    margin-left: 20vw;
    border-radius: 25px;
    float: left;
    color: #ADD8E6;
    padding: 15px;
}

.register_registerform {
    height: 45vh;
    text-align: center;
}

.register_desc, .login_desc {
    background-color: #0075F2;
    width: 30vw;
    margin-top: 5vh;
    border-radius: 25px;
    -moz-border-radius-bottomright: 0;
    float: left;
    color: #ADD8E6;
    padding: 1%;
    font-family: Verdana;
    font-size: 2vw;
    justify-content: center;
}

.register_desc {
    height: 45vh;
}

.register_triangle {
    clear: both;
    margin-left: 60vw;
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10vh 2.5vw 0;
    border-color: transparent #0075F2 transparent transparent;
}



.login_navcontainer {
    background-color: #2C2F33;
    height: 10vh;
}

.login_headercontainer {
}

.login_baner {
    float: right;
    margin-right: 37%;
    height: 10vh;
    color: #ADD8E6;
}

.login_page {
    width: 100vw;
}

.login_loginform {
    height: 40vh;
    text-align: center;
}

.login_desc {
    height: 40vh;
}

.login_triangle {
    clear: both;
    margin-left: 60vw;
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10vh 2.5vw 0;
    border-color: transparent #0075F2 transparent transparent;
}

.login_myicon {
    clear: both;
    margin-left: 65vw;
}

.login_descicon {
    width: 20vw;
    height: 20vh;
}



.profile_page_mycontainer {
    display: flex;
}

.profile_page_leftmenu {
    background-color: #23272A;
    width: 5vw;
    height: 100vh;
}

.profile_page_middlemenu {
    background-color: #222222;
    min-width: 80vw;
    color: #ADD8E6;
    height: 100vh;
}

.middlemenu_baner {
    height: 7vh;
}

.color_switch_div {
    float: right;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.Me {
background-color:red;



}
.You {

background-color:blue;

}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked + .slider {
        background-color: #2196F3;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    .slider.round {
        border-radius: 34px;
    }

        .slider.round:before {
            border-radius: 50%;
        }

.profile_info {
    height: 38vh;
    margin-top: 20px;
}

.profileicon_elipsa {
    width: 15vw;
    height: 28vh;
    margin: auto;
}

.profile_aboutme, .profile_posts {
    width: 35vw;
    height: 40vh;
    border: 1px solid white;
    border-radius: 15px;
    margin: 10px 20px 0px 20px;
    text-align: center;
}
.profile_aboutme {
    float: left;
}

.profile_posts {
    float: right;
}

.profile_page_rightmenu {
    background-color: #23272A;
    width: 15vw;
    color: #ADD8E6;
    height: 100vh;
}

.break_panel {
    width: 80%;
    height: 5px;
    background-color: #233D4D;
    margin: 20px auto;
    border-radius: 10px;
}

.page_link {
    color: #ADD8E6;
}

.page_link p {
    margin-left: 30px;
}

.page_link :hover {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.div_button {
    height: 30px;
}