/* OBJAŚNIENIE CSS */
/* RZECZY KTÓRE ROBIĄ RZECZY W KILKU PLIKACH LUB NIE WIEM CO ROBIĄ */

body {
    background-color: #A3D9FF;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

header {
    background-color: #2C2F33;
}

input, select, textarea {
    max-width: 280px;
}

.buttonn {
    align-items: center;
    background-color: #0075F2;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    margin-top: 10px;
    min-width: 140px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

    .buttonn:focus {
        color: #171e29;
    }

    .buttonn:hover {
        border-color: #171e29;
        color: #ccc;
        fill: #06f;
    }

    .buttonn:active {
        border-color: #171e29;
        color: #aaa;
        fill: #06f;
    }

@media (min-width: 768px) {
    .buttonn {
        min-width: 170px;
    }
}

input {
    margin-right: auto;
    margin-left: auto;
}

.baner_img {
    width: 11vw;
    height: 11vh;
    float: left;
}

.elipsa {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid black;
}

.elipsa_no_border {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
}

    .elipsa_no_border img {
        margin-left: -6px;
        margin-top: -2px;
    }

.col-form-label {
    margin-top: 10px;
    font-size: 20px;
}

.welcome_text {
    font-size: 3.5vw;
}

.fa-solid {
    float: left;
}



/* PLIK REGISTER.CSHTML */

.register_registerform, .login_loginform {
    background-color: #23272A;
    width: 30vw;
    margin-top: 21vh;
    margin-left: 20vw;
    border-radius: 25px;
    float: left;
    color: #ADD8E6;
    padding: 15px;
}

.register_registerform {
    height: 55vh;
    text-align: center;
    display: flex;
    justify-content: center;
}

    .register_registerform h1 {
        color: #ADD8E6;
        font-family: 'raleway';
        font-size: 40px;
        margin-bottom: 30px;
    }

    .register_form > input {
        text-align: center;
        display: block;
        width: 100%;
        margin: 10px 0;
        padding: 10px 3px;
        background-color: transparent;
        border: 0;
        outline: none;
        border-bottom: 1px solid #ADD8E6;
        font-size: 16px;
    }

    .register_form > input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-transition-delay: 9999s;
        transition-delay: 9999s;
    }

    .register_form > .buttonn {
        margin-top: 20px;
    }

    .register_container .strengthMeter {
        width: 100%;
        height: 4px;
        background-color: #fff;
        margin-top: 10px;
    }

        .register_container .strengthMeter::before {
            content: '';
            width: 0;
            height: 5px;
            transition: 0.5s;
            position: absolute;
            left: 27.6%;
        }

    .register_container.weak .strengthMeter::before {
        width: 28px;
        background-color: #f00;
        filter: drop-shadow(0 0 5px #f00);
    }

    .register_container.medium .strengthMeter::before {
        width: 185px;
        background-color: #ffa500;
        filter: drop-shadow(0 0 5px #ffa500);
    }

    .register_container.strong .strengthMeter::before {
        width: 285px;
        background-color: #0f0;
        filter: drop-shadow(0 0 5px #0f0);
    }

    .register_container .strengthMeter::after {
        transition: 0.5s;
        color: #fff;
        position: absolute;
        left: 31%;
        bottom: 36.5%;
    }

    .register_container.weak .strengthMeter::after {
        content: 'Your Password is Weak';
        color: #f00;
        filter: drop-shadow(0 0 5px #f00);
    }

    .register_container.medium .strengthMeter::after {
        content: 'Your Password is Medium';
        color: #ffa500;
        filter: drop-shadow(0 0 5px #ffa500);
    }

    .register_container.strong .strengthMeter::after {
        content: 'Your Password is Strong';
        color: #0f0;
        filter: drop-shadow(0 0 5px #0f0);
    }

.show {
    width: 14.8vw;
    height: 4vh;
    background-color: #333;
    border: 6px solid #222;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

    .show::before {
        content: 'Show Password';
        font-size: 0.6em;
        color: #fff;
        letter-spacing: 0.15em;
        text-transform: uppercase;
    }

    .show.hide::before {
        content: 'Hide Password';
    }

    .register_container p {
        margin-top: 35px;
    }

.register_desc, .login_desc {
    background-color: #0075F2;
    width: 30vw;
    margin-top: 21vh;
    border-radius: 25px;
    float: left;
    color: #ADD8E6;
    padding: 1%;
    font-family: 'raleway';
    font-size: 44px;
}

.register_desc {
    height: 55vh;
}

.register_triangle {
    clear: both;
    margin-left: 60vw;
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10vh 2.5vw 0;
    border-color: transparent #0075F2 transparent transparent;
}



/* PLIK INDEX.CSHTML */

.login_navcontainer {
    position: absolute;
    background-color: #2C2F33;
    width: 100vw;
    height: 11vh;
    z-index: 1;
}

.login_baner {
    float: right;
    margin-right: 32%;
    height: 10vh;
    color: #ADD8E6;
}

.login_page {
    position: absolute;
    width: 100%;
    z-index: 2;
}

.rounded_animation {
    z-index: -1;
}

    .rounded_animation::before, .rounded_animation::after {
        position: absolute;
        content: "";
        width: 2000px;
        height: 2000px;
        border-top-left-radius: 40%;
        border-top-right-radius: 45%;
        border-bottom-left-radius: 35%;
        border-bottom-right-radius: 40%;
    }

    .rounded_animation::before {
        right: 40%;
        bottom: 25%;
        background-color: rgba(2, 128, 144, 0.2);
        animation: wave 7s infinite;
    }

    .rounded_animation::after {
        right: 30%;
        bottom: 15%;
        background-color: rgba(2, 128, 144, 0.2);
        animation: wave 7s infinite;
    }

    @keyframes wave {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }

.login_loginform {
    height: 45vh;
    text-align: center;
    display: flex;
    justify-content: center;
}

    .login_loginform h1 {
        color: #ADD8E6;
        font-family: 'raleway';
        font-size: 40px;
        margin-bottom: 30px;
    }

    .login_form > input, 
    .request_form_input,
    .register_container > input,
    .middlemenu_baner input,
    .messeges > form > .message_content {
        text-align: center;
        display: block;
        width: 50vh;
        margin: 10px 0;
        padding: 10px 3px;
        background-color: transparent;
        border: 0;
        outline: none;
        border-bottom: 1px solid #ADD8E6;
        font-size: 16px;
    }

        .login_form > input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus,
        input:-webkit-autofill:active {
            -webkit-transition-delay: 9999s;
            transition-delay: 9999s;
        }

    .login_form > .buttonn {
        margin-top: 30px;
    }

.login_desc {
    height: 45vh;
}

.login_triangle {
    clear: both;
    margin-left: 60vw;
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10vh 2.5vw 0;
    border-color: transparent #0075F2 transparent transparent;
}

.login_myicon, .register_myicon {
    clear: both;
    margin-left: 65vw;
}

.login_descicon {
    width: 20vw;
    height: 20vh;
    animation: bounce 2s infinite linear;
    animation-timing-function: ease;
    position: relative;
}

    @keyframes bounce {
        0% {top: 0;}
        50% {top: -2rem;}
        100% {top: 0;}
    }



/* PLIK BLAD.CSHTML */
.error_midmenu {
    width: 100%;
    position: absolute;
    left: 32%;
}

.error_container {
    font-family: 'raleway';
    background-color: #0075F2;
    text-align: center;
    width: 35vw;
    margin-top: 20vh;
    border-radius: 25px;
    color: #ADD8E6;
    padding: 15px;
}

.error_container h1 {
    font-size: 48px;
}

.error_container p {
    font-size: 24px;
}

.error_nav-link {
    color: #add8e6;
    text-decoration: underline;
}

.error_triangle {
    display: inline-block;
    border-style: solid;
    border-width: 0 10vh 2.5vw 0;
    border-color: transparent #0075F2 transparent transparent;
    margin: -5vh 0vw 0vh 35vh;
}

.error_myicon {
    margin-left: 20vw;
}

.error_descicon {
    width: 20vw;
    height: 20vh;
    position: relative;
    animation: bounce 2s infinite linear;
    animation-timing-function: ease;
}



/* PLIK LOGIN.CSHTML */

.profile_page_mycontainer {
    display: flex;
}

.profile_page_leftmenu {
    background-color: #23272A;
    width: 5vw;
    height: 100vh;
    position: fixed;
    left: 0;
}

    .leftmenu_elipsas > form > .elipsa {
        margin: 0 auto;
    }

.Groupscreate {
    width: 50px;
    height: 50px;
    margin-left: 23px;
}

.profile_page_middlemenu {
    background-color: #222222;
    color: #ADD8E6;
    width: 80vw;
    min-height: 100vh;
    margin-left: 5vw;
}

.middlemenu_baner {
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Thatsu {
    margin: 0 2vw 1vh 0;
}

    .Thatsu button {
        width: 120%;
        height: 4vh;
        margin: auto;
        font-family: 'raleway';
        letter-spacing: 1px;
        font-size: 1.2em;
        border: none;
        border-radius: 15px;
        background: linear-gradient(#474747 0 0) var(--p, 0) / var(--p, 0) no-repeat;
        transition: .4s, background-position 0s;
    }

        .Thatsu button:hover {
            --p: 100%;
        }

.profile_info {
    height: 38vh;
    margin-top: 20px;
}

.profileicon_elipsa {
    width: 15vw;
    height: 28vh;
    margin: auto;
}

.profile_aboutme, .profile_posts {
    width: 35vw;
    min-height: 40vh;
    border: 1px solid white;
    border-radius: 15px;
    margin: 10px 20px 0px 20px;
    text-align: center;
}
.profile_aboutme {
    float: left;
}

.aboutme_desc {

}

.aboutme_edit {

}

.profile_posts {
    float: right;
}

.profile_posts h2 {
    float: left;
    margin-left: 33%;
}
    .profile_posts > form > button {
        float: left;
        margin: 20px 0 0 20px;
        width: 120px;
        height: 35px;
        border-radius: 15px;
        border: none;
        background-color: #353B40;
        font-family: 'raleway';
        letter-spacing: 1px;
        padding-top: 5px;
    }

.form_add_post {
    margin-top: 200px;
    text-align: center;
}

    .form_add_post > .post_add_content {
        width: 20vw;
        padding: 10px;
        height: 5vh;
        border: 2px solid #333;
        border-radius: 15px;
        color: #ADD8E6;
        background-color: transparent;
    }

    .form_add_post > .post_publish_content {
        width: 15%;
        height: 4vh;
        margin: 20px auto;
        font-family: 'raleway';
        letter-spacing: 1px;
        font-size: 1.3em;
        border: none;
        border-radius: 15px;
        padding-top: 5px;
        background: linear-gradient(#474747 0 0) var(--p, 0) / var(--p, 0) no-repeat;
        transition: .4s, background-position 0s;
    }

        .form_add_post > .post_publish_content:hover {
            --p: 100%;
        }

.message_block {
    padding: 20px;
}

    .message_block > .message_user_name {
        text-align: center;
        font-size: 32px;
        font-family: 'raleway';
        letter-spacing: 1px;
        margin-bottom: 30px;
    }

    .Me, .You {
        width: 30vw;
        border-radius: 15px;
        font-size: 22px;
        margin-bottom: 5px;
    }

    .Me {
        float: right;
        background-color: red;
    }

    .You {
        float: left;
        background-color: blue;
    }

    .Me p, .You p {
        padding: 5px 5px 5px 15px;
    }

.message_profile_break {
    width: 100%;
    height: 40px;
    background-color: #4B4E6D;
    clear: both;
}

.messeges {
    padding-right: 20px;
}

    .messeges form {
        float: right;
    }

    .messeges > form > .send_message {
        width: 80px;
        height: 35px;
        border-radius: 15px;
        border: none;
        background-color: #353B40;
        font-family: 'raleway';
        letter-spacing: 1px;
        margin-top: 10px;
    }

.group_chat_form {
    text-align: center;
    margin-top: 20px;
}

    .group_chat_form input {
        margin: 10px 0 10px 10px;
        width: 20vw;
        padding: 10px;
        height: 5vh;
        border: 2px solid #333;
        border-radius: 15px;
        color: #ADD8E6;
        background-color: transparent;
    }

    .group_chat_form button,
    .avatar_button {
        width: 15%;
        height: 4vh;
        margin: 20px auto;
        font-family: 'raleway';
        letter-spacing: 1px;
        font-size: 1.3em;
        border: none;
        border-radius: 15px;
        padding-top: 5px;
        background: linear-gradient(#474747 0 0) var(--p, 0) / var(--p, 0) no-repeat;
        transition: .4s, background-position 0s;
    }

        .group_chat_form button:hover,
        .avatar_button:hover {
            --p: 100%;
        }

.group_name_label {
    margin-left: -5px;
}

.profile_page_rightmenu {
    background-color: #23272A;
    width: 15vw;
    color: #ADD8E6;
    height: 100vh;
    position: fixed;
    right: 0;
    padding: 20px 10px;
}

.profile_friends_list {
    height: 43vh;
}

    .profile_friends_list p {
        font-size: 20px;
    }

.page_link p {
    margin-left: 30px;
}

    .page_link :hover {
        color: white;
        text-decoration: none;
        cursor: pointer;
    }

.form_add_friend {
    font-size: 20px;
}

.profile_sendreq {
    height: 16vh;
    text-align: center;
    display: none;
}

.send_request_button {
    margin-top: 10px;
    background-color: #0075F2;
    border: none;
    border-radius: 15px;
    width: 50%;
    height: 30px;
}

.friend {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

    .friend > .friend_form2 > .name {
        margin-top: 25px;
        width: 100px;
        height: 35px;
        border-radius: 15px;
        border: none;
        background-color: #353B40;
        font-family: 'raleway';
        letter-spacing: 1px;
    }

.profile_friends_requests {
    height: 30vh;
}

.profile_friends_requests p {
    font-size: 20px;
}

.friend_request {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

    .friend_request > .elipsa {
        border: none;
    }

.request_user_name p {
    margin-top: 5px;
    font-family: 'raleway';
    letter-spacing: 1px;
}

.accept_request_button {
    width: 80px;
    height: 35px;
    border-radius: 15px;
    border: none;
    background-color: #353B40;
    color: #90EE90;
    font-family: 'raleway';
    letter-spacing: 1px;
}

.profile_user_controls {
    height: 12vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.profile_user_controls > form > button {
   opacity: 0;
   width: 8vw;
   height: 5vh;
}

.break_panel {
    width: 90%;
    height: 1vh;
    background-color: #233D4D;
    margin: 2vh auto;
    border-radius: 10px;
}

.span_user_control {
    width: 60%;
    height: 5vh;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    font-size: 24px;
    font-family: 'raleway';
    letter-spacing: 1px;
}

    .span_user_control i {
        margin: 5px 10px 0px 0px;
        color: #ADD8E6;
    }

    .span_user_control a {
        color: #ADD8E6;
        text-decoration: none;
    }

.span_settings {
    position: absolute;
    z-index: -1;
}

.span_logout {
    margin-top: 10px;
}



/* USTAWIENIA */
.settings {
    height: 70vh;
}

.casual_settings {
    height: 36vh;
}

.casual_settings > form {
    text-align: center;
}

.change_data_input {
    text-align: center;
    display: block;
    width: 50vh;
    padding: 10px 3px;
    background-color: transparent;
    border: 0;
    outline: none;
    border-bottom: 1px solid #ADD8E6;
    font-size: 16px;
}

.casual_settings > form > button {
    width: 15%;
    margin-top: 20px;
    height: 4vh;
    font-family: 'raleway';
    letter-spacing: 1px;
    font-size: 1.2em;
    border: none;
    border-radius: 15px;
    background: linear-gradient(#474747 0 0) var(--p, 0) / var(--p, 0) no-repeat;
    transition: .4s, background-position 0s;
}

    .casual_settings > form > button:hover {
        --p: 100%;
    }

.settings_image_upload {
    height: 32vh;
}

.settings_footer {
    width: 80vw;
    height: 14.5vh;
    background: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.settings_icons {
    display: flex;
    justify-content: center;
}

.settings_icon {
    position: relative;
    width: 108px;
    height: 10vh;
    display: flex;
    margin: 0 10px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

    .settings_icon::before {
        position: absolute;
        content: "";
        width: 250px;
        height: 30px;
        background-color: white;
        opacity: 0.4;
        top: 0;
        left: 0;
        transform: translate(-70px, 250px) rotateZ(30deg);
        transition: transform 0.5s;
    }

    .settings_icon:hover::before {
        transform: translate(20px, -30px) rotateZ(30deg);
    }

    .settings_icon i {
        font-size: 44px;
        transition: transform 0.2s;
    }

    .settings_icon:hover i {
        transform: scale(1.5);
    }

    .facebook i {
        color: #4267B2;
    }

    .twitter i {
        color: #1DA1F2;
    }

    .instagram i {
        color: #C13584;
    }

    .google-plus i {
        color: #DB4437;
    }

    .youtube i {
        color: #FF0000;
    }

    .spotify i {
        color: #1DB954;
    }



/* USTAWIENIA DLA MNIEJSZYCH EKRANÓW */

@media screen and (min-width: 800px) and  (max-width: 1366px) and (min-height: 500px) and (max-height: 768px) {
    .register_registerform {
        margin-top: 15vh;
        height: 80vh;
    }

    .register_desc{
        margin-top: 15vh;
        height: 80vh;
        display: flex;
        align-items: center;
    }

    .show {
        width: 20.8vw;
        height: 5vh;
    }

    .register_container .strengthMeter::before {
        left: 24.6%;
    }

    .register_container .strengthMeter::after {
        left: 29.5%;
        bottom: 18%;
    }

    .register_desc p, .login_desc p {
        font-size: 34px;
    }

    .rounded_animation::before, .rounded_animation::after {
        width: 1500px;
        height: 1500px;
    }

    .login_triangle, .login_myicon{
        display: none;
    }
    
    .login_navcontainer {
        height: 13vh;
    }

    .baner_img {
        width: 13vw;
        height: 13vh;
    }

    .login_baner {
        margin-right: 31%;
    }

    .login_loginform, .login_desc {
        margin-top: 20vh;
        height: 63vh;
    }

    .login_desc {
        display: flex;
        align-items: center;
    }

    .error_triangle {
        margin: -3vh 0vw 0vh 20vw;
    }

    .Groupscreate > form > .group_elipsa {
        margin-top: 10px;
        margin-left: -20px;
        width: 50px;
    }

    .profile_page_middlemenu {
        width: 77vw;
    }

    .middlemenu_baner {
        height: 9vh;
    }

    .form_add_post > .post_publish_content,
    .group_chat_form button {
        padding: 0;
    }

    .profile_page_rightmenu {
        width: 18vw;
    }

    .message_profile_break {
        margin: 10px 0;
        height: 20px;
    }

    .profile_friends_list p,
    .form_add_friend,
    .profile_friends_requests p {
        font-size: 16px;
    }

    .friend > .friend_form2 > .name {
        padding-top: 5px;
    }

    .profile_sendreq {
        height: 23vh;
    }

    .span_user_control {
        font-size: 18px;
    }

    .settings {
        height: 65.5vh;
    }

    .casual_settings {
        height: 21vh;
    }

    .casual_settings h1 {
        font-size: 24px;
    }

    .change_data_input {
        float: left;
        margin: 10px 34px 0 34px;
    }
}