@{
    ViewBag.Title = "Blad";
}
<head>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
</head>
<header>
    <div class="login_navcontainer">
        <div class="login_headercontainer">
            <div class="myimg">
                <img class="baner_img" src="~/images/koya.svg" alt="logo" />
            </div>
            <div class="login_baner">
                <h1 class="welcome_text">Welcome to Better Chat</h1>
            </div>
        </div>
    </div>
</header>
<div class="error_midmenu">
    <div class="error_container">
        <h1>Error</h1>
        <p>The data you entered is incorrect. Please @Html.ActionLink("try again.", "Index", "Home", new { area = "" }, new { @class = "error_nav-link" })</p>
    </div>
</div>
