@model MMIv3.Models.User
<div class="mycontainer2">


    <div class="leftmenu"><div class="elipsa" style="background-image:src(" .. /~images/" + )"></div></div>
    <div class="middlemenu">

    </div>
    <div class="rightmenu">



    </div>
</div>
