@model MMIv3.Models.UserAction
<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet"/>
</head>
<body>
    <div class="settings_navcontainer">
        
    </div>
    <div class="profile_break" style="width: 100vw; height: 5vh; background-color: #4B4E6D;"></div>
    <div class="settings_menu">
        @Html.ActionLink("Back", "LogIn", "Home", new { area = "" }, new { @class = "nav-link" })
        <!-- <div class="color_switch_div">
            <span class="material-symbols-outlined">dark_mode</span>
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
            <span class="material-symbols-outlined" style="float: right;">light_mode</span>
        </div> -->
    </div>
    <div class="settings_footer">
        <div class="settings_icons">
            <a href="https://www.facebook.com/" class="settings_icon facebook"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://twitter.com/BGT" class="settings_icon twitter"><i class="fa-brands fa-twitter"></i></a>
            <a href="https://www.instagram.com/" class="settings_icon instagram"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://pl.wikipedia.org/wiki/Google%2B" class="settings_icon google-plus"><i class="fa-brands fa-google-plus-g"></i></a>
            <a href="https://www.youtube.com/watch?v=vfIWZHQdQ0Y" class="settings_icon youtube"><i class="fa-brands fa-youtube"></i></a>
            <a href="https://open.spotify.com/playlist/2as1OeKojKlt0ERwvSMQQh?si=23a2be320cdb4ac6" class="settings_icon spotify"><i class="fa-brands fa-spotify"></i></a>
        </div>
    </div>
</body>
